<ng-container *ngIf="surveys.length > 0; else noSurveysFound">
    
    <div class="survey-wrapper" *ngFor="let survey of surveys; trackBy: trackById"> 
        <div class="title-wrapper">
            <h2 class="title">{{ survey.title }}</h2> 
            <p class="description">{{ survey.description }}</p>
        </div>
        
        <app-card 
            *ngFor="let question of survey.questions; let i = index" 
            [questionData]="question"
            [displayIndex]="i + 1" 
            (typeSelected)="onQuestionTypeSelect(survey.id, $event)">
        </app-card>

        <div class="create-button-wrapper">
            <button (click)="goToEdit(survey.id)" class="create-button">
            <span 
                class="plus-svg-icon"
                [innerHTML]="svgMap['plus_svg'] | safeHtml">
            </span> 
            Add a question
            </button>
        </div>
    </div>
</ng-container>

<ng-template #noSurveysFound>
    <div class="no-surveys-wrapper">
        <p>No surveys are currently available for display.</p>
        <button (click)="createSurvey.emit()" class="create-button">Start First Survey</button>
    </div>
</ng-template>