/* Mobile styles */

.survey-wrapper {
      width: 100%;
      height: auto;
      padding: 24px 15px;
      border: 2px solid #D0D5DD;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      gap: 24px;
}

.survey-wrapper {
      /* Width set to 100% for small screens */
      width: 100%; 
      height: auto;
      padding: 24px;
      border: 2px solid #D0D5DD;
      border-radius: 12px;
}

.title-wrapper {
      display: flex;
      flex-direction: column;
}


.title {
      width: 560px;
      height: 38px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 38px;
      letter-spacing: 0px;
      color: #101828;
      margin: 0px;
}

.description {
      width: 1376px;
      height: 28px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0px;
      color: #344054;
      margin: 0px;
}

.create-button{
      width: 148px;
      height: 40px;
      border-radius: 8px;
      padding: 8px 12px 8px 12px;
      color: #1570EF;
      background-color: white;
      border: none;
      display: flex;
      font-weight: 600;
      size: 14px;
}

.plus-svg-icon {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      vertical-align: middle;
}

/* Desktop styles */
@media (min-width: 1024px) {
      .survey-wrapper {
            max-width: 1476px;
            min-height: 828px;
            padding: 24px 24px 20px 24px;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
      }
}