<div class="question-card" 
    [ngClass]="{'is-first-question': displayIndex === 1}"
    tabindex="0">
    <div class="question-header">
        <div class="question-index-and-menu"> 
          <div class="index-box-wrapper"> 
              <div class="display-index-number">Q{{ displayIndex }}</div> 
          </div>
          <ng-content select="[menu-slot]"></ng-content> 
        </div>
    </div>

    <div class="question-group">
      <p class="question">{{ questionData.questionText }}</p>
      
        <ul *ngIf="questionData.options && questionData.options.length > 0" class="options-list">
          <li *ngFor="let option of questionData.options">
              — {{ option }}
          </li>
        </ul>   
    </div>
    
    <hr style="color: #EAECF0;">

   <div class="question-config-actions">
    
    <div class="config-toggle-wrapper">
        <span class="toggle-text">Randomise Options</span>
        
        <label class="switch">
            <input 
                type="checkbox"  
                [checked]="questionData.randomizeOptionsInd"
                > 
            
            <span class="slider round"></span> 
        </label>
    </div>
    
    <div class="config-toggle-wrapper">
        <span class="toggle-text">Make Required</span>
        <label class="switch">
            <input 
                type="checkbox"  
                [checked]="questionData.mandatoryInd"
                > 
            <span class="slider round"></span> 
        </label>
    </div>
</div>
</div>