/* Mobile styles */

.question-card{
      width: 100%;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #1570EF;
      margin-bottom: 1px;
}


.question-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding-bottom: 10px; 
}


.index-box-wrapper {
    width: 45px; 
    min-height: 36px;
    padding: 6px 10px 6px 10px;
    border-radius: 8px;
    border: 1px solid #ccc; 
    background-color: #363F47;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-index-number {
    font-family: 'Inter';
    font-weight: 600; 
    font-size: 16px; 
    line-height: 24px;
    text-align: center;
    color: #FCFCFD;
    margin: 0; /* Important: Remove any default margin from the div */
}

.question-index-and-menu {
    display: flex;
    gap: 12px; 
    align-items: center;
    width: 100%;
}


.question{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #182230;
      margin: 0px;
      letter-spacing: 0px;
}

.question-group{
      display: flex;
      flex-direction: column;
      gap: 0px;
      margin-top: 1px;
}

.options-list{
      list-style: none;
      padding-left: 0px;
      font-family: 'Inter';
      font-weight: 400;
      font-size: 18px;
      line-height: 14px;
      color: #475467;
}

.options-list li {
      margin-bottom: 16px;
}

.config-toggle-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.toggle-text {
    font-size: 0.95em;
    white-space: nowrap;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #344054;
}

/* Switch container*/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px; 
}

/* Hide the default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F2F4F7;
    transition: .4s;
}


.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px; 
    bottom: 4px; 
    background-color: white;
    transition: .3s;
}

input:checked + .slider {
    background-color: #1570EF; 
}

input:checked + .slider:before {
    transform: translateX(16px);
}

.slider.round {
    border-radius: 36px;
}

.slider.round:before {
    border-radius: 50%;
}


.question-config-actions {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    gap: 30px; 
    padding-top: 10px;
}

/* Desktop Styles */
@media (min-width: 1024px) {
      .question-card{
            max-width: 1376px;
            min-height: 325px;
            padding: 24px 40px 32px 40px;
            border-radius: 12px;
            border: 2px solid #1570EF;
            margin-bottom: 10px;
            gap: 24px;
      }

      .question-group{
            max-width: 1319px;
            min-height: 186px;
            padding: 20px 0px 20px 9px;
            gap: 8px;
      }

      .options-list{
            min-height: 110px;
      }
}
