<div class="survey-container">
  
  <p *ngIf="isLoading">Loading surveys...</p>
  <p *ngIf="errorMessage">{{ errorMessage }}</p> 

  <ng-container *ngIf="!isLoading && !errorMessage">
    
    <button (click)="goToCreate()">+ Create New Survey</button> 
    
    <ng-container *ngIf="surveys.length > 0; else noSurveysFound">
      <app-card 
        *ngFor="let singleSurvey of surveys" 
        [surveyData]="singleSurvey"
        (editSurvey)="goToEdit($event.id)"> </app-card>
    </ng-container>

    <ng-template #noSurveysFound>
      <div class="no-data-state">
        <h3>No Surveys Available</h3>
        <p>Use the button above to create your first survey.</p>
      </div>
    </ng-template>

  </ng-container>
</div>