<div class="survey-container">
  
  <p *ngIf="isLoading">Loading surveys...</p>
  <p *ngIf="errorMessage">{{ errorMessage }}</p> 

  <ng-container *ngIf="!isLoading && !errorMessage">
    
    
   <ng-container *ngIf="surveys.length > 0; else noSurveysFound">
    <app-survey-container
      [surveys]="surveys"
      [listTitle]="'Available Surveys'"
      (editSurvey)="goToEdit($event)"
      (createSurvey)="goToCreate()">
    </app-survey-container>
</ng-container>

    <ng-template #noSurveysFound>
      <div class="no-data-state">
        <h3>No Surveys Available</h3>
        <p>Use the button above to create your first survey.</p>
      </div>
    </ng-template>

  </ng-container>
</div>