.question-menu-container {
  position: relative; /* Essential for dropdown positioning */
  display: inline-block;
}

.dropdown-toggle {
  padding: 8px 15px;
  width: 161px;
  height: 36px;
  background-color: #F5FAFF;
  color: #175CD3;
  border: none;
  cursor: pointer;
  border-radius: 8px;

  display: flex;
  align-items: center;

  gap: 4px;

  justify-content: flex-start;
}

.button-svg-icon {
    width: 20px; 
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    color: #175CD3;
}

.button-svg-icon > svg {
    width: 100%;
    height: 100%;
}

.button-svg-icon > svg path {
    fill: currentColor; 
}


.dropdown-panel {
  position: absolute;
  width: 256px;
  max-height: 232px;
  overflow-y: auto;
  top: 100%; /* Position right below the button */
  left: 0;
  z-index: 1000;
  min-width: 250px;
  background: white;
  border: 1px solid #E5E7EB;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  padding: 8px;
}

.menu-svg-icon {
  /* Width & height increase to 19 as they looked too small */
    width: 19px;  
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-svg-icon > svg {
    width: 100%;
    height: 100%;
}

.menu-svg-icon > svg path {
    fill: currentColor; 
}

.menu-item:hover .menu-svg-icon {
    color: #98A2B3;
}

.search-input {
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.search-input input {
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0px;
}

.menu-item {
  display: flex;
  flex-direction: row;
  gap: 8px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 240px;
  height: 40px;
  border-radius: 8px;
  overflow: hidden;
  white-space: nowrap;
}

.menu-item:hover {
  background-color: #f0f0f0;
}

/* Highlighting the selected item */
.highlighted {
  background-color: #e0f7fa; /* Light blue background */
  font-weight: bold;
  color: #007bff;
}

.no-results {
  padding: 10px;
  color: #777;
  font-style: italic;
  text-align: center;
}