<div class="question-menu-container" (blur)="isOpen = false" tabindex="0">
  
  <button class="dropdown-toggle" (click)="toggleMenu()">
    
    <img src="../../../../assets/icons/circle-check.svg" alt="Test Icon" style="width: 20px; height: 20px;">
    <!-- <app-circle-checked-icon class="menu-svg-icon" [name]="iconMap[type.key]"></app-circle-checked-icon> -->

    <span *ngIf="selectedKey" class="selected-label"> ({{ selectedKey | titlecase }})</span>
    <span *ngIf="!selectedKey" class="selected-label">Single Choice</span>
</button>

  <div class="dropdown-panel" *ngIf="isOpen">

    <div class="search-input">
      <input 
        type="text" 
        [(ngModel)]="searchTerm" 
        (ngModelChange)="filterList()" 
        placeholder="Search question types..."
      >
    </div>

    <ul class="menu-list">
      <li 
        *ngFor="let type of filteredTypes" 
        (click)="selectType(type.key)"
        [class.highlighted]="type.key === selectedKey"
        class="menu-item">
        
        <app-circle-checked-icon class="menu-svg-icon" [name]="iconMap[type.key]"></app-circle-checked-icon>
      
        {{ type.label }}
      </li>
      
      <li *ngIf="filteredTypes.length === 0" class="no-results">
        No results found for "{{ searchTerm }}"
      </li>
    </ul>
    
  </div>
</div>