<div class="question-menu-container" (blur)="isOpen = false" tabindex="0">
  
  <button class="dropdown-toggle" (click)="toggleMenu()">
    
    <!-- Below lines are for testing the app-circle-checked-icon component -->
    <!-- <img src="../../../../assets/icons/circle-check.svg" alt="Test Icon" style="width: 20px; height: 20px;"> -->
    <!-- <app-circle-checked-icon class="menu-svg-icon" [name]="iconMap[type.key]"></app-circle-checked-icon> -->

    <span 
        *ngIf="selectedKey"
        class="button-svg-icon"
        [innerHTML]="svgMap[selectedKey] | safeHtml">
    </span>

    <span 
        *ngIf="!selectedKey"
        class="button-svg-icon"
        [innerHTML]="svgMap['single_choice'] | safeHtml">
    </span>

    <span *ngIf="selectedKey" class="selected-label">{{ (selectedKey ? selectedKey : 'single_choice') | titlecase }}</span>
    <span *ngIf="!selectedKey" class="selected-label">Single Choice</span>

    <span 
        *ngIf="!selectedKey"
        class="button-svg-icon"
        [innerHTML]="svgMap['chevron_down'] | safeHtml">
    </span>
</button>

  <div class="dropdown-panel" *ngIf="isOpen">

    <div class="search-input">
      <span 
          class="search-icon"
          [innerHTML]="svgMap['magnifying_glass'] | safeHtml">
      </span>
      <input 
        class="text-input"
        type="text" 
        [(ngModel)]="searchTerm" 
        (ngModelChange)="filterList()" 
        placeholder="Search"
      >
    </div>

    <ul class="menu-list">
      <li 
        *ngFor="let type of filteredTypes" 
        (click)="selectType(type.key)"
        [class.highlighted]="type.key === selectedKey"
        class="menu-item">
        <span 
          class="menu-svg-icon" 
          [innerHTML]="svgMap[type.key] | safeHtml">
        </span>
        {{ type.label }}
      </li>
      
      <li *ngIf="filteredTypes.length === 0" class="no-results">
        No results found for "{{ searchTerm }}"
      </li>
    </ul>
    
  </div>
</div>