<div class="manage-survey-container">
  
  <h2 *ngIf="!isLoadingData">
    {{ isEditMode ? 'Edit Survey: ' + currentSurveyId : 'Create New Survey' }}
  </h2>
  <p *ngIf="isLoadingData">Loading survey data...</p>

  <form [formGroup]="surveyForm" (ngSubmit)="handleSave()" *ngIf="!isLoadingData">
    
    <fieldset class="survey-info">
      <legend>Survey Details</legend>
      
      <label for="title">Title:</label>
      <input id="title" type="text" formControlName="title">
      <div *ngIf="surveyForm.get('title')?.invalid && surveyForm.get('title')?.touched" class="error">
        Title is required.
      </div>

      <label for="description">Description:</label>
      <textarea id="description" formControlName="description"></textarea>
      <div *ngIf="surveyForm.get('description')?.hasError('minlength') && surveyForm.get('description')?.touched" class="error">
        Description must be at least 5 characters long.
      </div>
    </fieldset>

    <h3>Questions</h3>
    
    <div formArrayName="questions" class="question-list">
      
      <div *ngFor="let questionGroup of questions.controls; let qIndex = index" 
           [formGroupName]="qIndex" class="question-group">
        
        <h4>Question #{{ qIndex + 1 }}</h4>
        
        <label>Text:</label>
        <input type="text" formControlName="questionText">
        <div *ngIf="questionGroup.get('questionText')?.invalid && questionGroup.get('questionText')?.touched" class="error">
          Question text is required.
        </div>
        
        <label>Mandatory:</label>
        <input type="checkbox" formControlName="mandatoryInd">

        <h5>Options (Min 2)</h5>
        <div formArrayName="options" class="option-list">
          <div *ngFor="let optionControl of getOptions(qIndex).controls; let oIndex = index">
            <input type="text" [formControlName]="oIndex">
            
            <button type="button" (click)="removeOption(qIndex, oIndex)" *ngIf="getOptions(qIndex).length > 2">
              Remove Option
            </button>
          </div>
          <button type="button" (click)="addOption(qIndex)">+ Add Option</button>
        </div>

        <button type="button" (click)="removeQuestion(qIndex)">Delete Question</button>
      </div>
    </div>
    
    <button class="add-new-question-button" type="button" (click)="addQuestion()">+ Add New Question</button>

    <hr>
    
    <button type="submit" [disabled]="surveyForm.invalid">
      {{ isEditMode ? 'Save Changes' : 'Create Survey' }}
    </button>
    
    <button type="button" [routerLink]="['/surveys']">
        Cancel / Back to List
    </button>
    
  </form>
</div>